/*Element*/
li{

}
/*class*/
.hello{

}
/*id*/
#name   {

}

/*star*/
*   {
    border: 1px solid lightgray;
}

/*Descendant Selector*/
li a {          /* all anchor tags under li will be selected*/
    color: lightgreen;
}

/*Adjacent selectors*/

h4 + ul {  /* all ul that comes after h4 will be selected*/
    border: 4px dashed palevioletred;
}

/*Attribute selector*/

a[href="http://www.google.com"] { /* all hrefs with google.com will be selected*/
    background: blue;
}
/*nth of type*/

ul:nth-of-type(3)   { /* 3rd ul will be made purple*/
    background: purple;
}

li:nth-of-type(even)    {
    background: purple;
}